<!doctype html>
<html>

<head>
    <meta charset UTF-8>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./src/css/user.css">
    <link rel="shorcut icon" href="./src/img/icon.ico" type="image/x-ico">
    <title> Мой Аккуант </title>
</head>

<body>

<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="./account.html"> <img src="./src/img/account.png" width="21"
                                height="21"> Профиль </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./messages.html"> <img src="./src/img/messages.png" width="18"
                                height="18"> Сообщения </a>
                    </li>
                    <li class="nav-item">
                        <p align="center">
                            <a class="nav-link active" href="./friends.html"> <img src="./src/img/friends.png" width="19"
                                    height="18"> Друзья </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> <img src="./src/img/exit.png" width="18" height="18"> Выход
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <input type="search" id="search" placeholder="Поиск" autocomplete='off' onmousedown="viewDiv()">
    <script>

    function viewDiv(){
    document.getElementById("div1").style.display = "block";
    };

    </script>
    <div id="div1"><div id='result'></div></div>
    <script src="./src/js/search.js"></script>
</div>

        <div class="content">
            <div class="section1">
                <img src="./src/img/avatar.png" width="160" height="160">
            </div>
            <a class="iksweb" href=" ">
                Написать
            </a>
            <div class="section2">
                <h3 class="decrition1">
                    Имя Фамилия
                </h3>
                <h4 class="decrition2">
                    Никнейм
                </h4>
                <h5 class="decrition3">
                    Дата Рождения: 21.03.1983
                </h5>
                <h5 class="decrition4">
                    Пол: Мужской
                </h5>
                <h5 class="decrition5">
                    Телефон: +7(986)-567-64-32
                </h5>
                <h5 class="decrition6">
                    E-mail: hrhhr.@mail.com
                </h5>
            </div>
        </div>
    </div>

    
</body>

</html>