<!doctype html>
<html>

<head>
    <meta charset UTF-8>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/src/css/admin.css">
    <link rel="shorcut icon" href="/src/img/icon.ico" type="image/x-ico">
    <title> Админ </title>
</head>

<body>

<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin_information.html"> Информация о пользователях </a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link active" href="/admin_messages.html"> Сообщения пользователей </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="content">
<h4>
<p align="center">
Информация о пользователях
</h4>
<hr>
<div class="user">

</div>

</div>

</body>

</html>