* {
	margin: 0;
	padding: 0;
}

.header {
	position: fixed;
	width: 100%;
	height: 75px;
	border: 1px solid #CACACA;
	background-image: url(../img/header.png);
	background-size: 100% 74px;
}

.navbar {
	width: 490px;
	height: 60px;
	margin-top: 6px;
	margin-left: 240px;
}

.navbar-nav {
	margin-top: 10px;
	width: 506px;
}

.nav-item {
	width: 130px;
	margin-left: -3px;
}

img {
	margin-top: -2px;
	margin-right: 5px;
}

input {
	width: 210px;
	float: left;
	height: 45px;
	margin-top: -52px;
	margin-left: 59%;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #999;
	border-radius: 9px;
	font-size: 18px;
	font-family: Arial;
}

#div1 {
	width: 210px;
	margin-left: 59%;
	margin-top: 10px;
	position: fixed;
	display: none;
	background: white;
	overflow: auto;
	border:1px solid #CBCBCB;
}

.user {
	width: 100%;
}

.user a {
	color: black;
	display: block;
	height: 50px;
	padding-top: 0px;
	padding-left: 20px;
	text-decoration: none;
	background: #fdfdfd;
	border-radius: 0px;
	border-bottom: 1px solid #ccc;
}

.user a:hover {
	background-color: #ccc;
}

a {
	text-decoration: none;
	color: #000000;
}

.content {
	width: 50%;
	float: left;
	height: 370px;
	margin-top: 165px;
	margin-left: 25%;
	background: #FDFDFD;
	border-radius: 1px;
	border: 1px solid #b4b4b4;
}

.section1 {
	width: 200px;
	float: left;
	height: 200px;
	margin-top: 30px;
	margin-left: 40px;
	padding-top: 15px;
	padding-left: 23px;
	padding-right: 5px;
	border-radius: 98px;
	border: 1px solid #B6B6B6;

}

.ikswee {
	display: inline-block;
	float: left;
	cursor: pointer;
	font-size: 18px;
	text-decoration: none;
	margin-top: 255px;
	margin-left: -200px;
	padding: 4px 63px;
	color: #ffffff;
	background: #23a1de;
	border-radius: 6px;
}

.iksweb {
	display: inline-block;
	float: left;
	cursor: pointer;
	font-size: 18px;
	text-decoration: none;
	margin-top: 310px;
	margin-left: -205px;
	padding: 4px 65px;
	color: #000248;
	background: #ccc;
	border-radius: 6px;
}

button {
	border: none;
}

.section2 {
	width: 350px;
	float: right;
	height: 257px;
	margin-top: 35px;
	margin-right: 70px;
}

.decrition1 {
	color: #111111;
	font-family: Arial;
	font-size: 28px;
	margin-top: 15px;
	margin-left: 75px;
}

.decrition2 {
	color: #ccc;
	font-family: Tahoma;
	margin-top: 5px;
	margin-left: 75px;
}

.decrition3 {
	color: #303030;
	font-family: Arial;
	font-size: 18px;
	margin-top: 15px;
	margin-left: 75px;
}
