* {
	margin: 0;
	padding: 0;
}

.header {
	position: fixed;
	width: 100%;
	height: 75px;
	border: 1px solid #CACACA;
	background-image: url(../img/header.png);
	background-size: 100% 74px;
}

.navbar {
	width: 490px;
	height: 60px;
	margin-top: 6px;
	margin-left: 240px;
}

.navbar-nav {
	margin-top: 10px;
	width: 506px;
}

.nav-item {
	width: 130px;
	margin-left: -3px;
}

img {
	margin-top: -2px;
	margin-right: 5px;
}

input {
	width: 210px;
	float: left;
	height: 45px;
	margin-top: -52px;
	margin-left: 54%;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #999;
	border-radius: 9px;
	font-size: 18px;
	font-family: Arial;
}

#div1 {
	width: 210px;
	margin-top: 10px;
	margin-left: 54%;
	position: fixed;
	display: none;
	background: white;
	border:1px solid #CBCBCB;
}

.menu {
	width: 100%;
}

.menu a {
	color: black;
	display: block;
	height: 50px;
	padding-top: 0px;
	padding-left: 20px;
	text-decoration: none;
	background: #fdfdfd;
	border-radius: 0px;
	border-bottom: 1px solid #ccc;
}

.menu a:hover {
	background-color: #ccc;
}

a {
	text-decoration: none;
	color: #000000;
}

.content {
	width: 37%;
	float: left;
	height: 640px;
	margin-top: 100px;
	margin-left: 31%;
	border-radius: 9px;
	border: 1px solid #CACACA;
}

.section1 {
	width: 100%;
	height: 60px;
	padding-top: 7px;
	border-radius: 8px;
	background: #539FEC;
}

.aside {
	width: 52px;
	float: left;
	height: 52px;
	margin-top: -3px;
	margin-left: 30%;
	padding-top: 7px;
	padding-left: 8px;
	border-radius: 30px;
	background: #ffffff;
	border: 1px solid #CACACA;
}

.decrition1 {
	color: #ffffff;
	font-family: Arial;
	margin-left: 45%;
}

.decrition2 {
	color: #ffffff;
	font-family: Tahoma;
	margin-top: -5px;
	margin-left: 45%;
}

.chat {
	width: 100%;
	height: 517px;
	overflow: auto;
}
#messages {
	width: 100%;
	height: auto;
	display: none;
	padding: 25px 35px 25px 35px;
	border:1px solid red;
}

.user1 {
	max-width: 200px;
	padding: 5px 10px 5px 10px;
	float: right;
	display: none;
	color: #ffffff;
	word-wrap: break-word;
	background: #23a1de;
	border-radius: 10px;
}

.user2 {
	max-width: 200px;
	margin-top: 25px;
	margin-left: 35px;
	padding: 5px 10px 5px 10px;
	float: left;
	color: #000000;
	word-wrap: break-word;
	display: none;
	background: #ccc;
	border-radius: 10px;
}

.section2 {
	width: 100%;
	border-top: 1px solid #CACACA;
}

input.message {
	width: 70%;
	height: 45px;
	margin-top: 6px;
	margin-left: 5px;
	padding: 5px 10px 5px 10px;
	border-radius: 7px;
	border: 1px solid #999;
	font-size: 16px;
	font-family: Tahoma;
}

button {
	border: none;
}

.iksweb {
	display: inline-block;
	float: right;
	cursor: pointer;
	width: 110px;
	height: 35px;
	margin-top: 12px;
	margin-right: 20px;
	padding-top: 5px;
	padding-left: 12px;
	color: #ffffff;
	font-size: 17px;
	font-family: Arial;
	text-decoration: none;
	background: #23a1de;
	border-radius: 12px;
}
