* {
	margin: 0;
	padding: 0;
}

.header {
	position: fixed;
	width: 100%;
	height: 75px;
	border: 1px solid #CACACA;
	background-image: url(../img/Шапка.png);
	background-size: 100% 74px;
}
.navbar {
	width: 490px;
	height: 60px;
	margin-top: 6px;
	margin-left: 240px;
}

.navbar-nav {
	margin-top: 10px;
	width: 506px;
}

.nav-item {
	width: 130px;
	margin-left: -3px;
}

img {
	margin-top: -2px;
	margin-right: 5px;
}

input {
	width: 210px;
	float: left;
	height: 45px;
	margin-top: -52px;
	margin-left: 790px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #999;
	border-radius: 9px;
	font-size: 18px;
	font-family: Arial;
}

form {
	float: right;
	margin-top: -42px;
	margin-right: 30px;
}

a {
	text-decoration: none;
	color: #000000;
}

.content {
	width: 42%;
	float: left;
	height: 87%;
	position: absolute;
	position: fixed;
	margin-top: 90px;
	margin-left: 29%;
	border-radius: 2px;
	border: 1px solid #CACACA;
}

.section1 {
	width: 100%;
	float: left;
	height: 65px;
	border-bottom: 1px solid #B6B6B6;
}

input.search2 {
	width: 380px;
	height: 45px;
	margin-top: 10px;
	margin-left: 10px;
	padding-left: 15px;
	padding-right: 10px;
	border: 1px solid #999;
	border-radius: 3px;
	font-size: 18px;
	font-family: Arial;
}

.iksweb {
	display: inline-block;
	float: right;
	cursor: pointer;
	font-size: 18px;
	text-decoration: none;
	margin-top: 15px;
	margin-right: 2%;
	padding: 4px 35px;
	color: #ffffff;
	background: #23a1de;
	border-radius: 6px;
}

.menu {
	width: 100%;
	margin-top: 70px;
}

.menu a {
	color: black;
	display: block;
	height: 70px;
	margin-top: 2px;
	padding-top: 14px;
	padding-left: 20px;
	text-decoration: none;
	background: #fdfdfd;
	border-right: none;
	border-left: none;
	border-radius: 2px;
	border: 1px solid #ccc;
}

.menu a:hover {
	background-color: #ccc;
}

.aside {
	width: 50px;
	float: left;
	height: 50px;
	margin-top: -5px;
	padding-top: 7px;
	padding-left: 6px;
	background: #fafafa;
	border-radius: 30px;
	border: 1px solid #CACACA;
}

.decrition1 {
	color: #111111;
	font-family: Arial;
	margin-top: -6px;
	margin-left: 80px;
}

.decrition2 {
	color: #B6B6B6;
	font-family: Arial;
	margin-top: -5px;
	margin-left: 80px;
}